.headerNavigation {
  height: 4rem;
  background-color: #dbe2ef;
}
.headerNavigation .row {
  height: 100%;
}
.cvCreate .logo {
  background-image: url("/assets/images/logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 7em;
  height: 3em;
  border-radius: 100px;
}
.selectForm {
  font-size: 1.5em;
  font-weight: bolder;
  color: #112d4e;
}
.active {
  animation: mymove 0.5s infinite;
}
@keyframes mymove {
  from {
    border-bottom: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: #112d4e;
  }
  to {
    color: #3f72af;
    font-size: 2em;
    border-bottom: 3px solid #3f72af;
  }
}
.exportCV {
  background-color: #3f72af;
  color: #fff;
  font-size: 1.5em;
  font-weight: bolder;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
}
